body {
    background-color: #282c34;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-button {
      width: 200px;
      height: 30px;
      text-align:center;
      margin-top:15px;
      background-color: blueviolet;
      border-radius: 8px;
      border: #282c34;
      color: #fff;
  }

  .App-button:hover {
      background-color: blue;
      cursor: pointer;
  }